.flex-container {
     display: flex;
}

.flex-center{
     justify-content: center;
     align-items: center;
}

.clearfix::after {
     @include clearfix;
}

.container{
     max-width: 1200px;
     width: 60%;
     margin: 0 auto;
}

.bg-black{
     background-color: black;
}

.container-fluid {
     width: 100vw;
}

.swiper-container {
    width: 100%;
    height: 300px;
}

.card{
     width:100%;
     height: 100%;
     border-radius: 5px;
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;

           background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          box-shadow:inset 0 0 0 2000px rgba(255,255,255, 0.8);
}

.div-album img{
     margin-right: 150px;
     width: 150px;
     height: 150px;
}

.div-descrizioni{
     color: black;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.swiper-slide{
     display: flex;
     align-items: center;
     justify-content: center;

}

.swiper-pagination-bullet {
   width: 10px;
   height: 10px;
   text-align: center;
   line-height: 20px;
   font-size: 12px;
   color:grey;
   opacity: 1;
   background: grey;
  }
  .swiper-pagination-bullet-active {
   color:#fff;
   background: blue;
  }
